<launch>

    <include file="$(find rplidar_ros)/launch/rplidar_s2.launch" />
    <include file="$(find ranger_base)/launch/ranger_mini_v2.launch" />
 <node pkg="robot_setup_tf_tutorial" type="tf_broadcaster" name="tf_broadcaster" output="screen">
 </node>
<node pkg="rplidar_ros" type="low_lidar.py" name="low_lidar" output="screen">
 </node>
</launch>